html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ============================================================ */

/* 版面置中 */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 垂直置中 */
.verticallyCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ============================================================ */

/* 標題區CSS */
.header {
  display: flex;
  width: 1280px;
  height: 104px;
  justify-content: space-between;
}

.headerRight,
.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 18px;
}

.headerLeft {
  padding-left: 108px;
}

.headerRight {
  padding-right: 108px;
}

.headerRightView {
  color: #ff1d6c;
  margin-right: 27px;
}

.headerRightStay {
  color: #ffb72c;
  margin-right: 27px;
}

.headerRightTraffic {
  color: #007350;
}
/* ============================================================ */

/* 查詢區塊CSS */
.queryArea {
  width: 1226px;
  height: 491px;
  margin-top: 23px;
  margin-bottom: 22px;

  display: flex;
  justify-content: center;
}

.queryAreaRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.queryAreaRowDetail {
  display: flex;
  width: 491px;
  justify-content: space-between;
}

.queryAreaRowDetail div input {
  width: 437px;
  height: 34px;
  color: #d2d2d2;
  border-radius: 6px;
}

.queryAreaRowDetail div select {
  width: 219px;
  height: 40px;
  border-radius: 6px;
}
/* ============================================================ */

/* 熱門景點CSS */
.hotCityVertically {
  background-repeat: no-repeat;
  text-decoration: none;
  width: 177px;
  height: 217px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.hotCityText {
  margin-top: 8px;
  font-size: 20px;
  color: white;
}

.hotCityHorizontal {
  background-repeat: no-repeat;
  text-decoration: none;
  width: 185px;
  height: 106px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.HotCityAreaBtn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;
}
/* ============================================================ */

/* 熱門活動CSS */
.HotActionAreaCard {
  width: 522px;
  height: 228px;
  margin: 10px;
  display: flex;
}

.HotActionAreaCarddiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 16px;
}

.HotActionAreaPicture {
  height: 196px;
  width: 187px;
  margin: 16px;
}

.HotActionAreaTittle {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.HotActionAreaDetail {
  margin-top: 14px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.HotActionArealocation {
  width: 16px;
  height: 16px;
}

.HotActionAreaCardButton {
  border: 1px #ff1d6c solid;
  border-radius: 10px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ff1d6c;
  width: 68px;
  height: 18px;
  text-align: center;
  vertical-align: auto;
}

/* ============================================================ */

/* 熱門餐飲CSS */

.HotRestaurantCard {
  width: 206px;
  height: 243px;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

.HotRestaurantAreaPicture {
  width: 182px;
  height: 137px;
  margin: 12px;
}

.HotRestaurantTitle {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.HotRestaurantlocation {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}

.HotRestaurantlocation img {
  width: 11px;
  height: 13px;
}

.HotRestaurantlocation p {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  color: #007350;
}

/* ============================================================ */

/* footer的CSS */
.footer {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #acacac;
  height: 35px;
}

/* ============================================================ */
/* dialog的CSS */
.dialogArea {
  display: flex;
  flex-direction: column;
}

.dialogClose {
  position: absolute;
  top: 0px;
  right: 0px;
}

.dialogPictureArea {
  width: 612px;
  height: 495px;
}

#dialogTittle p {
  margin-top: 22px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

#dialogDetail p {
  margin-top: 22px;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
